@fonts-path: "../fonts/";

@font-face {
    font-family: "Korpus-B";
    src: url("@{fonts-path}korpus-b-webfont.eot"); /* IE9 Compat Modes */
    src: url("@{fonts-path}korpus-b-webfont.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("@{fonts-path}korpus-b-webfont.otf") format("opentype"), /* Open Type Font */
    url("@{fonts-path}korpus-b-webfont.svg") format("svg"), /* Legacy iOS */
    url("@{fonts-path}korpus-b-webfont.ttf") format("truetype"), /* Safari, Android, iOS */
    url("@{fonts-path}korpus-b-webfont.woff") format("woff"), /* Modern Browsers */
    url("@{fonts-path}korpus-b-webfont.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "KorpusGrotesk-B";
    src: url("@{fonts-path}Korpus-Grotesk-B-webfont.eot"); /* IE9 Compat Modes */
    src: url("@{fonts-path}Korpus-Grotesk-B-webfont.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("@{fonts-path}Korpus-Grotesk-B-webfont.otf") format("opentype"), /* Open Type Font */
    url("@{fonts-path}Korpus-Grotesk-B-webfont.svg") format("svg"), /* Legacy iOS */
    url("@{fonts-path}Korpus-Grotesk-B-webfont.ttf") format("truetype"), /* Safari, Android, iOS */
    url("@{fonts-path}Korpus-Grotesk-B-webfont.woff") format("woff"), /* Modern Browsers */
    url("@{fonts-path}Korpus-Grotesk-B-webfont.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Sartex";
    src: url("@{fonts-path}sartex.eot"); /* IE9 Compat Modes */
    src: url("@{fonts-path}sartex.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("@{fonts-path}sartex.otf") format("opentype"), /* Open Type Font */
    url("@{fonts-path}sartex.svg") format("svg"), /* Legacy iOS */
    url("@{fonts-path}sartex.ttf") format("truetype"), /* Safari, Android, iOS */
    url("@{fonts-path}sartex.woff") format("woff"), /* Modern Browsers */
    url("@{fonts-path}sartex.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Cormorant Infant";
    src: url("@{fonts-path}CormorantInfant-Regular.ttf") format("truetype"); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url("@{fonts-path}Montserrat-Regular.ttf") format("truetype"); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: normal;
}